@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");

:root {
  --background: #fafafa;
  --border: #dbdbdb;
  --fontC: #252525;

  --blue: #0095f6;

  --header: "Fontdiner Swanky", cursive;
}

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: var(--fontC);
}

body {
  background: var(--background);
}

input {
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
input[type="button"] {
  background: var(--blue);
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 9px;
  cursor: pointer;
}

h1 {
  font-family: var(--header);
  font-weight: normal;
  font-size: 35px;
  cursor: default;
}

.signInSheet {
  margin: 12vh auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  justify-content: space-around;
  width: 300px;
  height: 400px;
  background: #fff;
  border: 1px solid var(--border);
}
.signInSheet div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signUpBtn,
#inP,
.nameInput {
  display: none;
}

#inP,
#upP {
  color: var(--blue);
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  align-self: center;
}
#inP:before {
  content: "< ";
}
#upP:after {
  content: " >";
}
